.page {
    height: 100vh;
}

:root {
    scroll-behavior: smooth;
}

a {
    color: white;
    padding: 7px;
    background-color: red;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
}



.Hover {
    position: relative;
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 10px 20px;
    margin: 50px auto;
    width: fit-content;
    cursor: pointer;
}

.Hover::before {
    content: "This is Tool tip content";
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 12px;
    width: 111px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.2s;

}

.Hover::after {
    content: " ";
    position: absolute;
    border: 10px solid;
    border-color: black transparent transparent;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.2s;

}

.Hover:hover:before,
.Hover:hover::after {
    opacity: 1;
}